<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Produits</title>
</head>

<body>
    {% for product in products %}
        {% if loop.index0 %3 == 0 %}
            <br>
        {% endif %}
        {{product}}
    {% endfor %}

    <pre>
        {{ dump(products) }}
    </pre>
</body>
</html>